@keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes priceAnimation {
    from {
        margin: 0 100%;
    }
    to {
        margin: 0 20%;
    }
}

@keyframes showFooter {
    from {
        height: 0px;
        opacity: 0;
    }
    to {
        height: 50px;
        opacity: 1;
    }
}
